@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

* {
    /* overflow-x: hidden; */
    font-family: 'Helvetica Neue', sans-serif;
}

.logo {
    width: 178px;
    height: 36px;
    margin-left: -5%;
}

ul {
    /* list-style: none; */
    align-items: start;
}
li {
    display: list-item;
    list-style-position: inside !important;
}

.icon {
    height: 36px;
    width: 36px;
}
.span {
    content: "\00AE";
  }

.small {
    font-size: 6px;
}

.helvetica {
    font-family: 'Helvetica Neue', sans-serif;
}

.lheight {
    line-height: 0.9rem;
}
.minherit {
    margin: inherit !important;
}
.bmargin {
    margin-bottom: 10%;
}

.green {
    color:#2B8000;
}

.purple {
    color: #4C286D;
}

.light-purple {
    color: #582e7f
}

.grey {
    background-color: #FAFAFA;
    padding:50px;
    border: 10px solid white;
}
.grey-np {
    background-color: #FAFAFA;
    border: 10px solid white;
}

.lead {
    font-weight: 500 !important;
}

#codeForm {
    
}
.lemur {
    max-width: 500px;
    margin-top: 20%;
}

input:focus, input:active {
    outline: none !important;
    box-shadow: none !important;
    background-color: none !important;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

  input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
                                       }
.center {
    margin-left: 10%;
    
  }

.gOeBAl {
    color: #4C286D;
    /* font-family: HelveticaNow500normal;x */
    font-size: 16px;
    line-height: 1.5;
    margin: 8px 0px;
    cursor: pointer;
}

.terms-icon {
    rotate: -90deg;
    max-height: 20px;
    margin: 10px;
    border: 1px solid #4C286D;
    padding: 4px 6px;
    border-radius: 10px;
    cursor: pointer;
    list-style: decimal;
}
.terms-icon.active {
    rotate: 90deg;
    max-height: 20px;
    margin: 10px;
    border: 1px solid #4C286D;
    padding: 4px 6px;
    border-radius: 10px;
    cursor: pointer;
}

.content {
    /* display: block; */
    overflow-y: hidden;
    height:0px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.content.active {
    /* display: block; */
    height:auto;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-color: #ccc;
}

.full-width {
    /* position:absolute; */
    width:100%;
    background-color: #F4F4F7;
}

.flip {
    transform: scaleX(-1);
    margin-left: -13%;
    width: 121%;
}

.hideView {
   
}
.hideView.active {
   
}

.promo-banner {
    color:white;
    border-radius: 10px;
    padding:20px;
    background-image: linear-gradient(to right, #4C286D , #C82D88);
}

.telusBorder {
    border: 3px solid #4C286D;
    /* border-image: linear-gradient(45deg, #C82D88, #4C286D) 1; */
    border-radius: 20px;
    padding:20px;
}

.bBorder {
    border: 2px solid #e0e0e6;
    /* border-image: linear-gradient(45deg, #C82D88, #4C286D) 1; */
    border-radius: 10px;
    padding:10px;
}

.bBorder p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color:#878383;
}

.pBanner {
    position: absolute;
    margin-left: -25px;
    text-align: center;
    border-radius:5px 5px 5px 0;
    background-color: #582e7f;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    padding:5px 55px;
    z-index: 1;
}

.quarter-circle {
    width: 14px;
    height: 17px;
    border-radius: 0 0 0 300px;
    background-color: #4C286D;
    position: absolute;
    margin-top: 40px;
    margin-left: -25px;
  }

  .promo {
    font-size: 1.9rem;
    font-weight: 400;
  }

  .offer-btn {
    padding: 10px 20px;
    text-orientation:inherit;
    width:50%;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 0.6rem;
    color:green;
    background-color: #FAFAFA;
    border: 1px solid green;
  }

  .offer-btn:hover {
    color: #fff;
    background-color: #2B8000;

  }

.gradient-border-mask {
    position: relative;
    padding: 20px 20px;
  }
  
  .gradient-border-mask::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px; 
    border: 3px solid transparent;
    background: linear-gradient(45deg,#C82D88,#4C286D) border-box;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

.telusBroadstreet {
    border-left: 1px solid black;
    padding-left:20px !important;
}

.display-4 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 46px;
    font-weight: 300;
    color: #4C286D;
    overflow: visible;
}

.terms li {
    display: list-item;
    color: rgb(65, 69, 71);
    /* font-family: HelveticaNow400normal; */
    font-size: 14px;
    line-height: 1.42857;
    margin-bottom: 16px;  
    /* display: list-item !important; */
    list-style-position: outside !important;
    
    /* word-break: break-word;    */
}

.terms {
    padding: 20px 0px;
    text-align: justify;
    list-style:decimal;
}

ol {
    list-style: decimal;
}

li::marker {
    position: absolute;
    margin-left:-10px;
}


@media only screen and (max-width: 1200px) {
    .lemur {
        max-width: 400px;
    }
    .pBanner {
        font-size: 18px;
    }
}

@media only screen and (max-width: 992px) {
    .flip {
        transform: scaleX(-1);
        margin: 0px;
        width:100%;
    }
}

@media only screen and (max-width: 500px) {
    .center {
      margin-left: -25px !important;
    }
    .display-4 {
        line-height: 1 !important;
    }
    .icon {
        height: 24px;
        width: 24px;
    }
    .gradient-border-mask {
        margin-top:20px;
    }
    .terms {
        padding-left:0px;
    }
    .smargin {
        width:90%;
    }
    .mheight {
        max-width: 90%;
        height: auto;
    }
  }